.cmsOption {
  list-style-type: none;
  border: 1px solid black;
}
.category_results {
display: inline-block;
}
.category_image {
  width: 100%;
  display: inline-block;
}
.sub_category_image {

}
.display_subCatName {
  border: 1px solid black;
  list-style-type: none;
  font-size: 125%;
  
}
.catNameResultData {

}
.catNameResultImage {

}
.subCatNameListItem {
  list-style-type: none;

}
.product_category_results {

}
.product_box_info {

}
.product_name_box {

}
.product_category_image {

}
.display_product {
  border: 1px solid black;
}
.info_box {

}
.product_info_table {
  border: 1px solid black;
}
.product_name {

}
.product_image {
  width: 100%;
}
.product_price {

}
.affilAd {

}
#optionBar {

}
#cmsResultsWrap {
  background-color: white;
}
